<div class="container statistics" id="map"></div>
    <script>
      var map;
      function initMap() {
          map = new google.maps.Map(document.getElementById('map'),
            {
              center: new google.maps.LatLng(<%- parseFloat(long_lats[0].long_lat.slice(10,31).split(",")[0]) %>, <%- parseFloat(long_lats[0].long_lat.slice(10,31).split(",")[1])%>),
              zoom: 16
            }
          );

        var iconBase =
            '../images/';

        var icons = {
          ambulance: {
            icon: iconBase + 'car3.png'
          },
        };

        // JSON.stringify(long_lats);
    

        <%#- console.log(features) %>

        <%
          long_lats.forEach((location) => {
            // long_lat:results[0].long_lat.slice(10,31).split(","),
            var long=location.long_lat.slice(10,31).split(",")[0];
            var lat =location.long_lat.slice(10,31).split(",")[1];
           %>
            
            var marker = new google.maps.Marker({
                position:  new google.maps.LatLng(<%- parseFloat(long) %>,<%- parseFloat(lat) %>),
                icon: "../images/car3.png",
                map: map
              });

           <%
          });
        %>
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnb1EqFOaMtH5WGkHBKjGVLOVihFoTH10&callback=initMap">
    </script>